scripts/n8n/social-workflow.json
{
  "id": "ibCEPsroSZuwWbVI",
  "name": "Social Media Auto-Publisher",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "post-social",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "f1bcbd8f-8497-4f3d-9cdc-2d65e4769c7b",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        544,
        368
      ],
      "webhookId": "social-publish-trigger"
    },
    {
      "parameters": {
        "postAs": "organization",
        "organization": "135145495",
        "text": "={{ $('gemini linkedin post').item.json.text || $('gemini linkedin post').item.json.content?.parts?.[0]?.text || $('gemini linkedin post').item.json.content || $('gemini linkedin post').item.json.response }}",
        "shareMediaCategory": "IMAGE",
        "additionalFields": {}
      },
      "id": "caf83b4f-1b5c-495e-a712-c4a846f86125",
      "name": "LinkedIn (Mock)",
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        1776,
        80
      ],
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "jcNEGkMkE5Lb90uW",
          "name": "LinkedIn account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "={{ 'Você é um social media expert. Crie um post engajador para o LinkedIn promovendo o seguinte artigo do nosso blog.\\n\\nTítulo: ' + $json.body.title + '\\nURL: ' + $json.body.url + '\\nResumo: ' + $json.body.excerpt + '\\n\\nREGRAS IMPORTANTES:\\n1. Retorne APENAS o texto do post. Não inclua frases introdutórias (como \"Aqui está uma sugestão\").\\n2. O tom deve ser profissional e convidativo.\\n3. Termine sempre com uma chamada para ação clara contendo o link do artigo. NUNCA use formatação markdown para o link (ex: não use [Texto](URL)), coloque a URL nua e pura.\\n4. Adicione hashtags relevantes no final.' }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        992,
        80
      ],
      "id": "1de013b8-16b0-4776-804a-2c2cf0809be0",
      "name": "gemini linkedin post",
      "credentials": {
        "googlePalmApi": {
          "id": "XeGsz9eHLKBUyX6c",
          "name": "Gemini Api Key Rogerio"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        544,
        176
      ],
      "id": "de78c1d8-9e62-4e46-964f-52ae945aa622",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "={{ $('Webhook').item.json.body.cover_image_url }}",
        "options": {}
      },
      "id": "0bf3e8ad-1b3e-49a2-b7a8-cc406452b7ac",
      "name": "Fetch Image (LinkedIn)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1344,
        80
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.body.network }}",
        "rules": {
          "rules": [
            {
              "value2": "linkedin"
            },
            {
              "value2": "facebook",
              "output": 1
            },
            {
              "value2": "instagram",
              "output": 2
            }
          ]
        }
      },
      "id": "6d24f7d7-d2b4-4d2a-b863-25da8e88d076",
      "name": "Roteador (Switch)",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        768,
        240
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "={{ 'Você é um social media expert. Crie um post engajador para o Facebook promovendo o seguinte artigo.\\n\\nTítulo: ' + $json.body.title + '\\nURL: ' + $json.body.url + '\\nResumo: ' + $json.body.excerpt + '\\n\\nREGRAS:\\n1. Retorne APENAS o texto.\\n2. Tom coloquial e amigável, convidando para ler e comentar.\\n3. Termine com a URL do artigo.' }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        992,
        272
      ],
      "id": "01d9272e-e628-4a84-a0b4-59e361dcc8f3",
      "name": "gemini facebook post",
      "credentials": {
        "googlePalmApi": {
          "id": "XeGsz9eHLKBUyX6c",
          "name": "Gemini Api Key Rogerio"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "={{ 'Você é um social media expert. Crie uma legenda para o Instagram promovendo o artigo.\\n\\nTítulo: ' + $json.body.title + '\\nURL: ' + $json.body.url + '\\nResumo: ' + $json.body.excerpt + '\\n\\nREGRAS:\\n1. Retorne APENAS o texto.\\n2. Muito engajador, com emojis e CTA visual (Acesse o link na bio / Leia mais). Mande a URL também.\\n3. Hashtags virais no final.' }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        992,
        464
      ],
      "id": "b5752cef-7320-4e39-a765-ea1a72fd148d",
      "name": "gemini instagram post",
      "credentials": {
        "googlePalmApi": {
          "id": "XeGsz9eHLKBUyX6c",
          "name": "Gemini Api Key Rogerio"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Webhook').item.json.body.cover_image_url }}",
        "options": {}
      },
      "id": "9eaa6f05-6f0a-4e34-b9ea-c337f8ddcf58",
      "name": "Fetch Image (Facebook)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1344,
        272
      ]
    },
    {
      "parameters": {
        "url": "={{ $('Webhook').item.json.body.cover_image_url }}",
        "options": {}
      },
      "id": "73e929e9-039b-468a-851c-981f137c962e",
      "name": "Fetch Image (Instagram)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1344,
        464
      ]
    },
    {
      "parameters": {},
      "id": "b050b5cc-d907-493e-9a0e-d0b92f35a5e7",
      "name": "Instagram",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1776,
        464
      ]
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "node": "61591675503932",
        "edge": "photos",
        "sendBinaryData": true,
        "binaryPropertyName": "data",
        "options": {
          "bodyParametersJson": "={{ JSON.stringify({ message: $('gemini facebook post').item.json.text || $('gemini facebook post').item.json.content?.parts?.[0]?.text || $('gemini facebook post').item.json.content || $('gemini facebook post').item.json.response || 'Veja nosso novo artigo!' }) }}"
        },
        "graphApiVersion": "v25.0"
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1776,
        272
      ],
      "id": "608aa50f-59ac-4ffe-a082-3377d566e600",
      "name": "Facebook Graph API",
      "credentials": {
        "facebookGraphApi": {
          "id": "1oXnn2Wk5wbvKjeW",
          "name": "Facebook Graph account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Roteador (Switch)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Roteador (Switch)": {
      "main": [
        [
          {
            "node": "gemini linkedin post",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "gemini facebook post",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "gemini instagram post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gemini linkedin post": {
      "main": [
        [
          {
            "node": "Fetch Image (LinkedIn)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gemini facebook post": {
      "main": [
        [
          {
            "node": "Fetch Image (Facebook)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gemini instagram post": {
      "main": [
        [
          {
            "node": "Fetch Image (Instagram)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Image (LinkedIn)": {
      "main": [
        [
          {
            "node": "LinkedIn (Mock)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Image (Facebook)": {
      "main": [
        [
          {
            "node": "Facebook Graph API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Image (Instagram)": {
      "main": [
        [
          {
            "node": "Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Roteador (Switch)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Graph API": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "pinData": {
    "When clicking ‘Execute workflow’": [
      {
        "json": {
          "headers": {
            "host": "api-staging.rogeriomaciel.com.br",
            "x-real-ip": "177.2.116.239",
            "x-forwarded-for": "177.2.116.239",
            "connection": "upgrade",
            "content-length": "363",
            "user-agent": "curl/8.18.0",
            "accept": "*/*",
            "content-type": "application/json"
          },
          "params": {},
          "query": {},
          "body": {
            "title": "Por que oficinas mecânicas estão abandonando ERPs tradicionais e migrando para operações via WhatsApp",
            "url": "https://coresites.com.br/post/abandono-erp-migracao-whatsapp",
            "excerpt": "Aprenda por que forçar mecânicos a usar sistemas de gestão complexos é o maior erro da sua oficina, e como o WhatsApp se tornou o novo ERP."
          },
          "webhookUrl": "https://api-staging.rogeriomaciel.com.br/app/post-social",
          "executionMode": "production"
        }
      }
    ]
  },
  "activeVersionId": "09c598ee-f3fb-4736-98cd-aeb3f634db5d",
  "versionCounter": 52,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-07-05T22:33:03.527Z",
      "createdAt": "2026-07-05T22:33:03.527Z",
      "role": "workflow:owner",
      "workflowId": "ibCEPsroSZuwWbVI",
      "projectId": "6cxpgmtD52mXpR4c",
      "project": {
        "updatedAt": "2026-05-30T16:07:28.165Z",
        "createdAt": "2026-05-30T15:13:32.872Z",
        "id": "6cxpgmtD52mXpR4c",
        "name": "Rogerio Maciel  <rogerio@rogeriomaciel.com.br>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "f50ee891-59a3-408d-8912-6247a92e84bf"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-07-06T14:07:53.556Z",
    "createdAt": "2026-07-06T14:07:48.356Z",
    "versionId": "09c598ee-f3fb-4736-98cd-aeb3f634db5d",
    "workflowId": "ibCEPsroSZuwWbVI",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "post-social",
          "responseMode": "lastNode",
          "options": {}
        },
        "id": "f1bcbd8f-8497-4f3d-9cdc-2d65e4769c7b",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          544,
          368
        ],
        "webhookId": "social-publish-trigger"
      },
      {
        "parameters": {
          "postAs": "organization",
          "organization": "135145495",
          "text": "={{ $json.content.parts[0].text }}",
          "shareMediaCategory": "IMAGE",
          "additionalFields": {}
        },
        "id": "caf83b4f-1b5c-495e-a712-c4a846f86125",
        "name": "LinkedIn (Mock)",
        "type": "n8n-nodes-base.linkedIn",
        "typeVersion": 1,
        "position": [
          1776,
          80
        ],
        "credentials": {
          "linkedInOAuth2Api": {
            "id": "jcNEGkMkE5Lb90uW",
            "name": "LinkedIn account"
          }
        }
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "models/gemini-2.5-flash",
            "mode": "list",
            "cachedResultName": "models/gemini-2.5-flash"
          },
          "messages": {
            "values": [
              {
                "content": "={{ 'Você é um social media expert. Crie um post engajador para o LinkedIn promovendo o seguinte artigo do nosso blog.\\n\\nTítulo: ' + $json.body.title + '\\nURL: ' + $json.body.url + '\\nResumo: ' + $json.body.excerpt + '\\n\\nREGRAS IMPORTANTES:\\n1. Retorne APENAS o texto do post. Não inclua frases introdutórias (como \"Aqui está uma sugestão\").\\n2. O tom deve ser profissional e convidativo.\\n3. Termine sempre com uma chamada para ação clara contendo o link do artigo. NUNCA use formatação markdown para o link (ex: não use [Texto](URL)), coloque a URL nua e pura.\\n4. Adicione hashtags relevantes no final.' }}"
              }
            ]
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.googleGemini",
        "typeVersion": 1.2,
        "position": [
          992,
          80
        ],
        "id": "1de013b8-16b0-4776-804a-2c2cf0809be0",
        "name": "gemini linkedin post",
        "credentials": {
          "googlePalmApi": {
            "id": "XeGsz9eHLKBUyX6c",
            "name": "Gemini Api Key Rogerio"
          }
        }
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          544,
          176
        ],
        "id": "de78c1d8-9e62-4e46-964f-52ae945aa622",
        "name": "When clicking ‘Execute workflow’"
      },
      {
        "parameters": {
          "url": "={{ $('Webhook').item.json.body.cover_image_url }}",
          "options": {}
        },
        "id": "0bf3e8ad-1b3e-49a2-b7a8-cc406452b7ac",
        "name": "Fetch Image (LinkedIn)",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          1344,
          80
        ]
      },
      {
        "parameters": {
          "dataType": "string",
          "value1": "={{ $json.body.network }}",
          "rules": {
            "rules": [
              {
                "value2": "linkedin"
              },
              {
                "value2": "facebook",
                "output": 1
              },
              {
                "value2": "instagram",
                "output": 2
              }
            ]
          }
        },
        "id": "6d24f7d7-d2b4-4d2a-b863-25da8e88d076",
        "name": "Roteador (Switch)",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 1,
        "position": [
          768,
          240
        ]
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "models/gemini-2.5-flash",
            "mode": "list",
            "cachedResultName": "models/gemini-2.5-flash"
          },
          "messages": {
            "values": [
              {
                "content": "={{ 'Você é um social media expert. Crie um post engajador para o Facebook promovendo o seguinte artigo.\\n\\nTítulo: ' + $json.body.title + '\\nURL: ' + $json.body.url + '\\nResumo: ' + $json.body.excerpt + '\\n\\nREGRAS:\\n1. Retorne APENAS o texto.\\n2. Tom coloquial e amigável, convidando para ler e comentar.\\n3. Termine com a URL do artigo.' }}"
              }
            ]
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.googleGemini",
        "typeVersion": 1.2,
        "position": [
          992,
          272
        ],
        "id": "01d9272e-e628-4a84-a0b4-59e361dcc8f3",
        "name": "gemini facebook post",
        "credentials": {
          "googlePalmApi": {
            "id": "XeGsz9eHLKBUyX6c",
            "name": "Gemini Api Key Rogerio"
          }
        }
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "models/gemini-2.5-flash",
            "mode": "list",
            "cachedResultName": "models/gemini-2.5-flash"
          },
          "messages": {
            "values": [
              {
                "content": "={{ 'Você é um social media expert. Crie uma legenda para o Instagram promovendo o artigo.\\n\\nTítulo: ' + $json.body.title + '\\nURL: ' + $json.body.url + '\\nResumo: ' + $json.body.excerpt + '\\n\\nREGRAS:\\n1. Retorne APENAS o texto.\\n2. Muito engajador, com emojis e CTA visual (Acesse o link na bio / Leia mais). Mande a URL também.\\n3. Hashtags virais no final.' }}"
              }
            ]
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.googleGemini",
        "typeVersion": 1.2,
        "position": [
          992,
          464
        ],
        "id": "b5752cef-7320-4e39-a765-ea1a72fd148d",
        "name": "gemini instagram post",
        "credentials": {
          "googlePalmApi": {
            "id": "XeGsz9eHLKBUyX6c",
            "name": "Gemini Api Key Rogerio"
          }
        }
      },
      {
        "parameters": {
          "url": "={{ $('Webhook').item.json.body.cover_image_url }}",
          "options": {}
        },
        "id": "9eaa6f05-6f0a-4e34-b9ea-c337f8ddcf58",
        "name": "Fetch Image (Facebook)",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          1344,
          272
        ]
      },
      {
        "parameters": {
          "url": "={{ $('Webhook').item.json.body.cover_image_url }}",
          "options": {}
        },
        "id": "73e929e9-039b-468a-851c-981f137c962e",
        "name": "Fetch Image (Instagram)",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          1344,
          464
        ]
      },
      {
        "parameters": {},
        "id": "b050b5cc-d907-493e-9a0e-d0b92f35a5e7",
        "name": "Instagram",
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          1776,
          464
        ]
      },
      {
        "parameters": {
          "httpRequestMethod": "POST",
          "graphApiVersion": "v25.0",
          "node": "61591675503932",
          "edge": "feed",
          "sendBinaryData": true,
          "options": {
            "queryParametersJson": "{\n  message: \"texto\"\n}"
          }
        },
        "type": "n8n-nodes-base.facebookGraphApi",
        "typeVersion": 1,
        "position": [
          1776,
          272
        ],
        "id": "608aa50f-59ac-4ffe-a082-3377d566e600",
        "name": "Facebook Graph API",
        "credentials": {
          "facebookGraphApi": {
            "id": "1oXnn2Wk5wbvKjeW",
            "name": "Facebook Graph account"
          }
        }
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Roteador (Switch)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Roteador (Switch)": {
        "main": [
          [
            {
              "node": "gemini linkedin post",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "gemini facebook post",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "gemini instagram post",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "gemini linkedin post": {
        "main": [
          [
            {
              "node": "Fetch Image (LinkedIn)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "gemini facebook post": {
        "main": [
          [
            {
              "node": "Fetch Image (Facebook)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "gemini instagram post": {
        "main": [
          [
            {
              "node": "Fetch Image (Instagram)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Image (LinkedIn)": {
        "main": [
          [
            {
              "node": "LinkedIn (Mock)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Image (Facebook)": {
        "main": [
          [
            {
              "node": "Facebook Graph API",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Image (Instagram)": {
        "main": [
          [
            {
              "node": "Instagram",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When clicking ‘Execute workflow’": {
        "main": [
          [
            {
              "node": "Roteador (Switch)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Facebook Graph API": {
        "main": [
          []
        ]
      }
    },
    "authors": "Rogerio Maciel ",
    "name": "Version 09c598ee",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-07-06T14:07:53.529Z",
        "id": 7035,
        "workflowId": "ibCEPsroSZuwWbVI",
        "versionId": "09c598ee-f3fb-4736-98cd-aeb3f634db5d",
        "event": "activated",
        "userId": "f50ee891-59a3-408d-8912-6247a92e84bf"
      }
    ]
  }
}